Repository fluencelabs/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shamsartem, @nahsi, @justchillinghere, @Fedor4096

.github/CODEOWNERS:

# about codeowners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owner is Artem since he setup up docusaurus
*  @shamsartem

.github/**  @nahsi

docs/stake/**             @justchillinghere
docs/build/**           @Fedor4096

Update overview.md
  docs/build/overview.md
Owners: @Fedor4096

Update docs/build/overview.md
  docs/build/overview.md
Owners: @Fedor4096

Update overview.md (#130)
  docs/build/overview.md
Owners: @Fedor4096

Init API guides
  docs/build/api/get_offerings/get_offerings.md
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/order_vm/order_vm.md
  docs/build/api/overview.md
  docs/build/overview.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

Fix old docs - remove notes about expiration
  docs/build/manage_vm/manage_vm.md
  docs/build/vm_rent/vm_rent.md
Owners: @Fedor4096

wip
  docs/build/api/manage_vms/manage_vms.md
Owners: @Fedor4096

Add notes about connection to VM
  docs/build/api/order_vm/order_vm.md
Owners: @Fedor4096

fixes
  docs/build/api/get_offerings/get_offerings.md
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/order_vm/order_vm.md
  docs/build/api/overview.md
Owners: @Fedor4096

Update docs/build/api/overview.md
  docs/build/api/overview.md
Owners: @Fedor4096

Update docs/build/api/get_offerings/get_offerings.md
  docs/build/api/get_offerings/get_offerings.md
Owners: @Fedor4096

Update docs/build/api/get_offerings/get_offerings.md
  docs/build/api/get_offerings/get_offerings.md
Owners: @Fedor4096

wip
  docs/build/api/get_offerings/get_offerings.md
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/order_vm/order_vm.md
  docs/build/api/overview.md
Owners: @Fedor4096

Remove TODOs and fix comments
  docs/build/api/get_offerings/get_offerings.md
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/overview.md
  docs/build/overview.md
Owners: @Fedor4096

fixes
  docs/build/api/get_offerings/get_offerings.md
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/order_vm/order_vm.md
  docs/build/api/overview.md
Owners: @Fedor4096

fix
  docs/build/api/get_offerings/get_offerings.md
Owners: @Fedor4096

fixes
  docs/build/api/get_offerings/get_offerings.md
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/order_vm/order_vm.md
  docs/build/api/overview.md
Owners: @Fedor4096

fixes
  docs/build/api/get_offerings/get_offerings.md
  docs/build/api/overview.md
Owners: @Fedor4096

update docs
  docs/build/api/get_offerings/get_offerings.md
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/order_vm/order_vm.md
  docs/build/api/overview.md
  docs/build/overview.md
Owners: @Fedor4096

wip
  docs/build/api/manage_vms/manage_vms.md
Owners: @Fedor4096

Update units
  docs/build/api/get_offerings/get_offerings.md
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/order_vm/order_vm.md
Owners: @Fedor4096

Add note about storage filters
  docs/build/api/get_offerings/get_offerings.md
  docs/build/api/order_vm/order_vm.md
Owners: @Fedor4096

Fix comments
  docs/build/api/get_offerings/get_offerings.md
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/order_vm/order_vm.md
  docs/build/api/overview.md
Owners: @Fedor4096

Add API guides to docs (#131)
  docs/build/api/get_offerings/get_offerings.md
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/order_vm/order_vm.md
  docs/build/api/overview.md
  docs/build/manage_vm/manage_vm.md
  docs/build/overview.md
  docs/build/vm_rent/vm_rent.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

Update docs with the latest changes
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/order_vm/order_vm.md
  docs/build/manage_vm/assets/terminated_vms_filtered.png
  docs/build/manage_vm/assets/terminated_vms_general.png
  docs/build/manage_vm/manage_vm.md
  docs/build/manage_vm/provider_vm_termination.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

Update docs/build/api/order_vm/order_vm.md
  docs/build/api/order_vm/order_vm.md
Owners: @Fedor4096

Update docs/build/api/order_vm/order_vm.md
  docs/build/api/order_vm/order_vm.md
Owners: @Fedor4096

Update docs/build/api/order_vm/order_vm.md
  docs/build/api/order_vm/order_vm.md
Owners: @Fedor4096

Update docs/build/api/order_vm/order_vm.md
  docs/build/api/order_vm/order_vm.md
Owners: @Fedor4096

Update docs/build/api/order_vm/order_vm.md
  docs/build/api/order_vm/order_vm.md
Owners: @Fedor4096

Update docs/build/manage_vm/manage_vm.md
  docs/build/manage_vm/manage_vm.md
Owners: @Fedor4096

Update docs/build/manage_vm/provider_vm_termination.md
  docs/build/manage_vm/provider_vm_termination.md
Owners: @Fedor4096

Update docs/build/manage_vm/provider_vm_termination.md
  docs/build/manage_vm/provider_vm_termination.md
Owners: @Fedor4096

Apply suggestions from code review
  docs/build/manage_vm/provider_vm_termination.md
Owners: @Fedor4096

Fix comments about termination
  docs/build/api/order_vm/order_vm.md
  docs/build/manage_vm/provider_vm_termination.md
Owners: @Fedor4096

fix
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/order_vm/order_vm.md
Owners: @Fedor4096

fix text
  docs/build/manage_vm/provider_vm_termination.md
Owners: @Fedor4096

refinement
  docs/build/manage_vm/provider_vm_termination.md
Owners: @Fedor4096

fix: Update docs with latest changes to API and UX of provider deal exit (#132)
  docs/build/api/manage_vms/manage_vms.md
  docs/build/api/order_vm/order_vm.md
  docs/build/manage_vm/assets/terminated_vms_filtered.png
  docs/build/manage_vm/assets/terminated_vms_general.png
  docs/build/manage_vm/manage_vm.md
  docs/build/manage_vm/provider_vm_termination.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

rm nft reference
  docs/stake/assets/secure_with_staking.png
  docs/stake/nft_guide/assets/collection_main_view.png
  docs/stake/nft_guide/assets/confirm_nft_transfer.png
  docs/stake/nft_guide/assets/confirm_purchase_view.png
  docs/stake/nft_guide/assets/confirm_sell_nft_wallet.png
  docs/stake/nft_guide/assets/for_sale_view.png
  docs/stake/nft_guide/assets/main_page_view.png
  docs/stake/nft_guide/assets/my_nfts_page.png
  docs/stake/nft_guide/assets/nft_approve_collection_wallet.png
  docs/stake/nft_guide/assets/nft_card_approve_collection.png
  docs/stake/nft_guide/assets/nft_card_for_purchase.png
  docs/stake/nft_guide/assets/nft_card_for_transfer_view.png
  docs/stake/nft_guide/assets/nft_delist_button.png
  docs/stake/nft_guide/assets/owned_nft_card_view.png
  docs/stake/nft_guide/nft_guide.md
  docs/stake/overview.md
  docs/stake/staking_app_guide/staking_app_guide.md
  sidebars.js
Owners: @justchillinghere, @shamsartem

update images
  docs/stake/assets/secure_with_staking.png
  docs/stake/assets/staking_user_flow.png
  docs/stake/overview.md
Owners: @justchillinghere
