Repository fluencelabs/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shamsartem, @nahsi, @justchillinghere, @Fedor4096

.github/CODEOWNERS:

# about codeowners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owner is Artem since he setup up docusaurus
*  @shamsartem

.github/**  @nahsi

docs/stake/**             @justchillinghere
docs/build/**           @Fedor4096

update and remove nft references (#133)
  docs/stake/assets/secure_with_staking.png
  docs/stake/assets/staking_user_flow.png
  docs/stake/nft_guide/assets/collection_main_view.png
  docs/stake/nft_guide/assets/confirm_nft_transfer.png
  docs/stake/nft_guide/assets/confirm_purchase_view.png
  docs/stake/nft_guide/assets/confirm_sell_nft_wallet.png
  docs/stake/nft_guide/assets/for_sale_view.png
  docs/stake/nft_guide/assets/main_page_view.png
  docs/stake/nft_guide/assets/my_nfts_page.png
  docs/stake/nft_guide/assets/nft_approve_collection_wallet.png
  docs/stake/nft_guide/assets/nft_card_approve_collection.png
  docs/stake/nft_guide/assets/nft_card_for_purchase.png
  docs/stake/nft_guide/assets/nft_card_for_transfer_view.png
  docs/stake/nft_guide/assets/nft_delist_button.png
  docs/stake/nft_guide/assets/owned_nft_card_view.png
  docs/stake/nft_guide/nft_guide.md
  docs/stake/overview.md
  docs/stake/staking_app_guide/staking_app_guide.md
  sidebars.js
Owners: @justchillinghere, @shamsartem

sp
  docs/stake/overview.md
Owners: @justchillinghere

Fixes for CP nodes requirements and Talos boot disk. Info about server renaming was added.
  docs/connect_servers/hardware/hardware.md
  docs/connect_servers/kubernetes/kubernetes.md
  docs/connect_servers/upcoming_features/upcoming_features.md
Owners: @shamsartem

Add Provider Application documentation (#134)
  docs/connect_servers/assets/subnets.svg
  docs/connect_servers/hardware/assests/factory_page.webp
  docs/connect_servers/hardware/assests/server_details_page.webp
  docs/connect_servers/hardware/hardware.md
  docs/connect_servers/kubernetes/assets/one-interface.svg
  docs/connect_servers/kubernetes/assets/patches.webp
  docs/connect_servers/kubernetes/kubernetes.md
  docs/connect_servers/login/assests/sign_page.webp
  docs/connect_servers/login/login.md
  docs/connect_servers/overview.md
  docs/connect_servers/smart_contracts/assets/show_clusters_address_page.webp
  docs/connect_servers/smart_contracts/smart_contracts.md
  docs/connect_servers/subnets/assets/add_subnet_page.webp
  docs/connect_servers/subnets/subnets.md
  docs/connect_servers/upcoming_features/upcoming_features.md
  docusaurus.config.ts
  sidebars.js
Owners: @shamsartem

sp fix
  docs/connect_servers/overview.md
Owners: @shamsartem

sp fix
  docs/connect_servers/login/login.md
Owners: @shamsartem

sp fix
  docs/connect_servers/hardware/hardware.md
Owners: @shamsartem

sp fix
  docs/connect_servers/kubernetes/kubernetes.md
Owners: @shamsartem

sp fix
  docs/connect_servers/subnets/subnets.md
Owners: @shamsartem

sp fix
  docs/connect_servers/smart_contracts/smart_contracts.md
Owners: @shamsartem

sp fix
  docs/connect_servers/upcoming_features/upcoming_features.md
Owners: @shamsartem

Fix numbering in hardware documentation
  docs/connect_servers/hardware/hardware.md
Owners: @shamsartem

Main edit (#135)
  docs/connect_servers/hardware/hardware.md
  docs/connect_servers/kubernetes/kubernetes.md
  docs/connect_servers/login/login.md
  docs/connect_servers/overview.md
  docs/connect_servers/smart_contracts/smart_contracts.md
  docs/connect_servers/subnets/subnets.md
  docs/connect_servers/upcoming_features/upcoming_features.md
Owners: @shamsartem

Fix YAML spaces
  docs/connect_servers/kubernetes/kubernetes.md
Owners: @shamsartem

Fix YAML spaces (#136)
  docs/connect_servers/kubernetes/kubernetes.md
Owners: @shamsartem

api key header
  docs/build/api/overview.md
Owners: @Fedor4096

doc fix
  docs/build/api/overview.md
Owners: @Fedor4096

fix: api key header (#137)
  docs/build/api/overview.md
Owners: @Fedor4096

wip
  docs/build/cpu_cloud/api/get_offerings/get_offerings.md
  docs/build/cpu_cloud/api/manage_vms/manage_vms.md
  docs/build/cpu_cloud/api/order_vm/order_vm.md
  docs/build/cpu_cloud/api/overview.md
  docs/build/cpu_cloud/manage_vm/assets/billing_history.webp
  docs/build/cpu_cloud/manage_vm/assets/terminated_vms_filtered.png
  docs/build/cpu_cloud/manage_vm/assets/terminated_vms_general.png
  docs/build/cpu_cloud/manage_vm/assets/vm_info.webp
  docs/build/cpu_cloud/manage_vm/assets/vm_manage.webp
  docs/build/cpu_cloud/manage_vm/manage_vm.md
  docs/build/cpu_cloud/manage_vm/provider_vm_termination.md
  docs/build/cpu_cloud/vm_rent/assets/configuration.webp
  docs/build/cpu_cloud/vm_rent/assets/location.webp
  docs/build/cpu_cloud/vm_rent/assets/os_image.webp
  docs/build/cpu_cloud/vm_rent/assets/ports.webp
  docs/build/cpu_cloud/vm_rent/assets/public_ip.webp
  docs/build/cpu_cloud/vm_rent/assets/server_type.webp
  docs/build/cpu_cloud/vm_rent/assets/ssh.webp
  docs/build/cpu_cloud/vm_rent/assets/storage.webp
  docs/build/cpu_cloud/vm_rent/assets/summary.webp
  docs/build/cpu_cloud/vm_rent/assets/vm_name.webp
  docs/build/cpu_cloud/vm_rent/vm_rent.md
  docs/build/gpu_cloud/api/get_offerings/get_offerings.md
  docs/build/gpu_cloud/api/manage_instances/manage_instances.md
  docs/build/gpu_cloud/api/order_instance/order_instance.md
  docs/build/gpu_cloud/api/overview.md
  docs/build/gpu_cloud/instance_rent/instance_rent.md
  docs/build/gpu_cloud/manage_instances/manage_instances.md
  docs/build/overview.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

add doc for gpu container creation
  docs/build/gpu_cloud/instance_rent/assets/containers/configurations.webp
  docs/build/gpu_cloud/instance_rent/assets/containers/env.webp
  docs/build/gpu_cloud/instance_rent/assets/containers/gpu_models.webp
  docs/build/gpu_cloud/instance_rent/assets/containers/ports.webp
  docs/build/gpu_cloud/instance_rent/assets/containers/review.webp
  docs/build/gpu_cloud/instance_rent/assets/containers/set_custom_image.webp
  docs/build/gpu_cloud/instance_rent/assets/containers/set_image.webp
  docs/build/gpu_cloud/instance_rent/assets/containers/set_name.webp
  docs/build/gpu_cloud/instance_rent/assets/containers/ssh_keys.webp
  docs/build/gpu_cloud/instance_rent/assets/containers/start_command.webp
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/configurations.png
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/gpu_count.png
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/gpu_models.png
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/review.png
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/set_image.png
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/set_name.png
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/ssh_keys.png
  docs/build/gpu_cloud/instance_rent/instance_rent.md
Owners: @Fedor4096

add vm baremetal creation
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/configurations.webp
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/gpu_count.webp
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/gpu_models.webp
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/review.webp
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/set_image.webp
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/set_name.webp
  docs/build/gpu_cloud/instance_rent/assets/vm_baremetal/ssh_keys.webp
  docs/build/gpu_cloud/instance_rent/instance_rent.md
Owners: @Fedor4096

add details page info
  GPU_CLOUD_DOCS_WORK.md
  docs/build/gpu_cloud/manage_instances/assets/billing_page.png
  docs/build/gpu_cloud/manage_instances/assets/billing_page.webp
  docs/build/gpu_cloud/manage_instances/assets/container/cluster_events.png
  docs/build/gpu_cloud/manage_instances/assets/container/cluster_events.webp
  docs/build/gpu_cloud/manage_instances/assets/container/container_logs.png
  docs/build/gpu_cloud/manage_instances/assets/container/container_logs.webp
  docs/build/gpu_cloud/manage_instances/assets/container/instance_details.png
  docs/build/gpu_cloud/manage_instances/assets/container/instance_details.webp
  docs/build/gpu_cloud/manage_instances/assets/container/list_page.png
  docs/build/gpu_cloud/manage_instances/assets/container/list_page.webp
  docs/build/gpu_cloud/manage_instances/assets/container/update_options.png
  docs/build/gpu_cloud/manage_instances/assets/container/update_options.webp
  docs/build/gpu_cloud/manage_instances/assets/vm_baremetal/instance_details.png
  docs/build/gpu_cloud/manage_instances/assets/vm_baremetal/instance_details.webp
  docs/build/gpu_cloud/manage_instances/assets/vm_baremetal/list_page.png
  docs/build/gpu_cloud/manage_instances/assets/vm_baremetal/list_page.webp
  docs/build/gpu_cloud/manage_instances/manage_instances.md
Owners: @shamsartem, @Fedor4096

upd billing part
  docs/build/gpu_cloud/instance_rent/instance_rent.md
Owners: @Fedor4096

wip
  GPU_CLOUD_DOCS_WORK.md
  docs/build/gpu_cloud/instance_rent/instance_rent.md
  docs/build/gpu_cloud/manage_instances/manage_instances.md
Owners: @shamsartem, @Fedor4096

add get plans
  docs/build/gpu_cloud/api/get_offerings/get_offerings.md
  docs/build/gpu_cloud/api/get_plans/get_plans.md
  docs/build/gpu_cloud/api/overview.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

add deploy instance api
  docs/build/gpu_cloud/api/deploy_instance/deploy_instance.md
  docs/build/gpu_cloud/api/get_plans/get_plans.md
  docs/build/gpu_cloud/api/order_instance/order_instance.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

add manage instances
  GPU_CLOUD_DOCS_WORK.md
  docs/build/gpu_cloud/api/manage_instances/manage_instances.md
Owners: @shamsartem, @Fedor4096

move cpu and cloud under general api dir
  GPU_CLOUD_DOCS_WORK.md
  docs/build/api/cpu_cloud/get_offerings/get_offerings.md
  docs/build/api/cpu_cloud/manage_vms/manage_vms.md
  docs/build/api/cpu_cloud/order_vm/order_vm.md
  docs/build/api/cpu_cloud/overview/overview.md
  docs/build/api/gpu_cloud/deploy_instance/deploy_instance.md
  docs/build/api/gpu_cloud/get_plans/get_plans.md
  docs/build/api/gpu_cloud/manage_instances/manage_instances.md
  docs/build/api/gpu_cloud/overview/overview.md
  docs/build/api/overview/overview.md
  docs/build/api/ssh_keys/ssh_keys.md
  docs/build/balance/balance.md
  docs/build/cpu_cloud/api/overview.md
  docs/build/cpu_cloud/manage_vm/manage_vm.md
  docs/build/cpu_cloud/manage_vm/provider_vm_termination.md
  docs/build/gpu_cloud/api/overview.md
  docs/build/gpu_cloud/instance_rent/instance_rent.md
  docs/build/gpu_cloud/manage_instances/manage_instances.md
  docs/build/overview.md
  docs/build/settings/settings.md
  sidebars.js
Owners: @shamsartem, @Fedor4096

fix
  docs/build/api/cpu_cloud/overview/overview.md
  docs/build/api/gpu_cloud/deploy_instance/deploy_instance.md
  docs/build/api/gpu_cloud/get_plans/get_plans.md
  docs/build/api/gpu_cloud/manage_instances/manage_instances.md
  docs/build/api/gpu_cloud/overview/overview.md
  docs/build/api/overview/overview.md
  docs/build/api/ssh_keys/ssh_keys.md
Owners: @Fedor4096

Remove GPU_CLOUD_DOCS_WORK.md from the repository
  GPU_CLOUD_DOCS_WORK.md
Owners: @shamsartem

merge gpu api docs to one with links to the reference
  docs/build/api/gpu_cloud/overview/overview.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

put cpu cloud to a single page
  docs/build/api/cpu_cloud/overview/overview.md
  docs/build/api/gpu_cloud/deploy_instance/deploy_instance.md
  docs/build/api/gpu_cloud/get_plans/get_plans.md
  docs/build/api/gpu_cloud/manage_instances/manage_instances.md
  docs/build/cpu_cloud/overview/overview.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

place api docs to the api dir root
  docs/build/api/cpu_cloud.md
  docs/build/api/cpu_cloud/get_offerings/get_offerings.md
  docs/build/api/cpu_cloud/manage_vms/manage_vms.md
  docs/build/api/cpu_cloud/order_vm/order_vm.md
  docs/build/api/gpu_cloud.md
  docs/build/api/overview.md
  docs/build/api/ssh_keys.md
  docs/build/cpu_cloud/manage_vm/provider_vm_termination.md
  docs/build/overview.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

ssh keys update
  docs/build/api/cpu_cloud.md
  docs/build/api/gpu_cloud.md
  docs/build/api/overview.md
  docs/build/api/ssh_keys.md
Owners: @Fedor4096

add cpu cloud concepts page
  docs/build/api/cpu_cloud.md
  docs/build/cpu_cloud/manage_vm/manage_vm.md
  docs/build/cpu_cloud/manage_vm/provider_vm_termination.md
  docs/build/cpu_cloud/overview/overview.md
  docs/build/cpu_cloud/vm_rent/assets/summary.webp
  docs/build/cpu_cloud/vm_rent/vm_rent.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

add gpu cloud concepts
  docs/build/api/gpu_cloud.md
  docs/build/gpu_cloud/instance_rent/instance_rent.md
  docs/build/gpu_cloud/manage_instances/manage_instances.md
  docs/build/gpu_cloud/overview/overview.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

upd servers loc
  docs/connect_servers/assets/hardware/factory_page.webp
  docs/connect_servers/assets/hardware/server_details_page.webp
  docs/connect_servers/assets/kubernetes/one-interface.svg
  docs/connect_servers/assets/kubernetes/patches.webp
  docs/connect_servers/assets/login/sign_page.webp
  docs/connect_servers/assets/overview/subnets.svg
  docs/connect_servers/assets/smart_contracts/show_clusters_address_page.webp
  docs/connect_servers/assets/subnets/add_subnet_page.webp
  docs/connect_servers/hardware.md
  docs/connect_servers/kubernetes.md
  docs/connect_servers/login.md
  docs/connect_servers/overview.md
  docs/connect_servers/smart_contracts.md
  docs/connect_servers/subnets.md
  docs/connect_servers/upcoming_features.md
  sidebars.js
Owners: @shamsartem

add custom plugin
  docusaurus.config.ts
  package-lock.json
  package.json
  plugins/markdown-source-plugin/components/MarkdownActionsDropdown/index.js
  plugins/markdown-source-plugin/index.js
  plugins/markdown-source-plugin/theme/Root.js
  src/css/custom.scss
  vercel.json
Owners: @shamsartem

add docs
  README.md
  plugins/markdown-source-plugin/README.md
Owners: @shamsartem

style markdown dropdown button with clipboard icon and divider
  plugins/markdown-source-plugin/components/MarkdownActionsDropdown/index.js
  src/css/custom.scss
Owners: @shamsartem
