Repository fluencelabs/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shamsartem, @nahsi, @justchillinghere, @Fedor4096

.github/CODEOWNERS:

# about codeowners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owner is Artem since he setup up docusaurus
*  @shamsartem

.github/**  @nahsi

docs/stake/**             @justchillinghere
docs/build/**           @Fedor4096

add llms txt plugin
  docs/build/llms_txt_include_head.md
  docs/connect_servers/llms_txt_include_head.md
  docs/llms_txt_include_head.md
  docs/stake/llms_txt_include_head.md
  docusaurus.config.ts
  plugins/llms-txt-plugin/index.js
  plugins/markdown-source-plugin/index.js
Owners: @Fedor4096, @shamsartem, @justchillinghere

upd llms txt
  README.md
  docs/build/gpu_cloud/manage_instances.md
  docs/build/llms_txt_include_head.md
  docs/connect_servers/llms_txt_include_head.md
  docs/llms_txt_include_head.md
  docs/llms_txt_override.md
  docs/stake/llms_txt_include_head.md
  docusaurus.config.ts
  plugins/llms-txt-plugin/README.md
Owners: @shamsartem, @Fedor4096, @justchillinghere

add versel redirect for llms.txt
  vercel.json
Owners: @shamsartem

redirect /docs/llms.txt to the core one
  vercel.json
Owners: @shamsartem

add build with ai section
  docs/build_with_ai/overview.md
  docs/llms_txt_override.md
  docusaurus.config.ts
  plugins/llms-txt-plugin/PLAN.md
  sidebars.js
Owners: @shamsartem

fix
  docs/build/api/cpu_cloud.md
  docs/build/api/gpu_cloud.md
  docs/build/cpu_cloud/assets/manage_vm/vm_info.webp
  docs/build/cpu_cloud/assets/manage_vm/vm_manage.webp
  docs/build/cpu_cloud/manage_vm.md
  docs/build/cpu_cloud/overview.md
  docs/build/cpu_cloud/vm_rent.md
  docs/build/gpu_cloud/overview.md
  src/css/custom.scss
Owners: @Fedor4096, @shamsartem

make plugin add abs paths in md files after build
  plugins/markdown-source-plugin/index.js
Owners: @shamsartem

fix text
  docs/build/api/cpu_cloud.md
  docs/build/api/gpu_cloud.md
  docs/build/cpu_cloud/overview.md
  docs/build/cpu_cloud/vm_rent.md
  docs/build/gpu_cloud/overview.md
Owners: @Fedor4096

Update docs/build/cpu_cloud/overview.md
  docs/build/cpu_cloud/overview.md
Owners: @Fedor4096

Update docs/build/cpu_cloud/vm_rent.md
  docs/build/cpu_cloud/vm_rent.md
Owners: @Fedor4096

wip
  GPU-62-flattening-rules.md
  GPU-62.md
  GPU_CLOUD_DOCS_WORK.md
  llms-txt-plugin-plan.md
Owners: @shamsartem

wip crd api
  docs/build/api/cpu_cloud.md
  docs/build/cpu_cloud/manage_vm.md
  docs/build/cpu_cloud/overview.md
  docs/build/cpu_cloud/vm_rent.md
  docs/build/overview.md
Owners: @Fedor4096

feat: add x402 top-up and wallet sign-in guide for agents
  docs/build/api/overview.md
  docs/build/api/x402.md
  docs/build/llms_txt_include_head.md
  docs/llms_txt_override.md
  sidebars.js
Owners: @Fedor4096, @shamsartem

feat: add PNG logo badge for x402 catalog listings
  static/img/logo_badge_black.png
Owners: @shamsartem

fix: describe current card and crypto top-ups and drop the wallet-era pages
  docs/build/assets/balance/amount.webp
  docs/build/assets/balance/cancel.webp
  docs/build/assets/balance/cancel_res.webp
  docs/build/assets/balance/complete_payment.webp
  docs/build/assets/balance/payment_page.webp
  docs/build/assets/balance/return_to_payment.webp
  docs/build/assets/balance/top_up_button.webp
  docs/build/assets/registration/registration.webp
  docs/build/assets/settings/advanced_settings.webp
  docs/build/balance.md
  docs/build/cpu_cloud/overview.md
  docs/build/registration.md
  docs/build/settings.md
  docs/llms_txt_override.md
Owners: @Fedor4096, @shamsartem

fix: match the x402 minimum top-up to mainnet
  docs/build/api/x402.md
Owners: @Fedor4096

fix: make the x402 guide runnable as written and keep imports in markdown copies
  docs/build/api/overview.md
  docs/build/api/x402.md
  plugins/markdown-source-plugin/README.md
  plugins/markdown-source-plugin/index.js
Owners: @Fedor4096, @shamsartem

fix: keep dollar amounts out of math rendering on the balance page
  docs/build/balance.md
Owners: @Fedor4096

feat: add renting compute to the x402 guide and document the current CPU Cloud API
  docs/build/api/cpu_cloud.md
  docs/build/api/ssh_keys.md
  docs/build/api/x402.md
  docs/build/cpu_cloud/manage_vm.md
Owners: @Fedor4096

feat: add x402 top-up and wallet sign-in guide for agents (#141)
  docs/build/api/cpu_cloud.md
  docs/build/api/overview.md
  docs/build/api/ssh_keys.md
  docs/build/api/x402.md
  docs/build/cpu_cloud/manage_vm.md
  docs/build/llms_txt_include_head.md
  docs/llms_txt_override.md
  plugins/markdown-source-plugin/README.md
  plugins/markdown-source-plugin/index.js
  sidebars.js
  static/img/logo_badge_black.png
Owners: @Fedor4096, @shamsartem

fix: describe current card and crypto top-ups and drop the wallet-era pages (#142)
  docs/build/assets/balance/amount.webp
  docs/build/assets/balance/cancel.webp
  docs/build/assets/balance/cancel_res.webp
  docs/build/assets/balance/complete_payment.webp
  docs/build/assets/balance/payment_page.webp
  docs/build/assets/balance/return_to_payment.webp
  docs/build/assets/balance/top_up_button.webp
  docs/build/assets/registration/registration.webp
  docs/build/assets/settings/advanced_settings.webp
  docs/build/balance.md
  docs/build/cpu_cloud/overview.md
  docs/build/registration.md
  docs/build/settings.md
  docs/llms_txt_override.md
Owners: @Fedor4096, @shamsartem

fix: align Build docs with the current console, billing and API
  docs/build/api/overview.md
  docs/build/api/ssh_keys.md
  docs/build/api/x402.md
  docs/build/assets/settings/api_keys.webp
  docs/build/assets/settings/ssh_keys.webp
  docs/build/balance.md
  docs/build/cpu_cloud/assets/manage_vm/billing_history.webp
  docs/build/cpu_cloud/assets/manage_vm/terminated_vms_filtered.png
  docs/build/cpu_cloud/assets/manage_vm/terminated_vms_general.png
  docs/build/cpu_cloud/assets/manage_vm/vm_info.webp
  docs/build/cpu_cloud/assets/manage_vm/vm_manage.webp
  docs/build/cpu_cloud/assets/vm_rent/configuration.webp
  docs/build/cpu_cloud/assets/vm_rent/location.webp
  docs/build/cpu_cloud/assets/vm_rent/os_image.webp
  docs/build/cpu_cloud/assets/vm_rent/ports.webp
  docs/build/cpu_cloud/assets/vm_rent/public_ip.webp
  docs/build/cpu_cloud/assets/vm_rent/server_type.webp
  docs/build/cpu_cloud/assets/vm_rent/ssh.webp
  docs/build/cpu_cloud/assets/vm_rent/storage.webp
  docs/build/cpu_cloud/assets/vm_rent/summary.webp
  docs/build/cpu_cloud/assets/vm_rent/vm_name.webp
  docs/build/cpu_cloud/manage_vm.md
  docs/build/cpu_cloud/overview.md
  docs/build/cpu_cloud/vm_rent.md
  docs/build/gpu_cloud/assets/manage_instances/billing_page.webp
  docs/build/gpu_cloud/instance_rent.md
  docs/build/gpu_cloud/manage_instances.md
  docs/build/gpu_cloud/overview.md
  docs/build/llms_txt_include_head.md
  docs/build/overview.md
  docs/build/registration.md
  docs/build/settings.md
Owners: @Fedor4096
