Repository fluencelabs/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shamsartem, @nahsi, @evgenyponomarev, @boneyard93501, @alari, @mikevoronov

.github/CODEOWNERS:

# about codeowners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owner is Artem since he setup up docusaurus
*  @shamsartem

.github/**  @nahsi

blog/**                   @evgenyponomarev
docs/learn/**             @evgenyponomarev
docs/build/**             @boneyard93501
docs/aqua-book/**         @alari
docs/marine-book/**       @mikevoronov

Trigger codeowners?
  docs/learn/use-cases.md
Owners: @evgenyponomarev

Revert "Trigger codeowners?"
  docs/learn/use-cases.md
Owners: @evgenyponomarev

Add codeowners lint
  .github/workflows/codeowners.yml
Owners: @nahsi

Fix paths
  .github/workflows/codeowners.yml
Owners: @nahsi

Typo
  .github/workflows/codeowners.yml
Owners: @nahsi

Add a name to a step
  .github/workflows/codeowners.yml
Owners: @nahsi

chore: updated per latest review
  docs/build/spells.md
Owners: @boneyard93501
